body,
ul,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#box {
    width: 400px;
    height: 492px;
    /* margin-bottom: 50px; */
    position: relative;
    top: 100px;
    left: 100px;

    .minTu {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .main {
            position: relative;
            /* overflow: hidden; */
            padding: 4px;
            width: 390px;
            height: 390px;
            border: 1px solid #dadada;

            .mask {
                position: absolute;
                display: none;
                left: 0;
                top: 0;
                width: 100px;
                height: 100px;
                background: url('../img/mask-bg.png') repeat;
                cursor: crosshair;

            }
        }

        .bottom {
            width: 398px;
            height: 72px;
            position: relative;
            margin: 10px 0;

            p {
                width: 35px;
                height: 72px;
                text-align: center;
                line-height: 72px;
                background: #777;
                /* font-size: 24px; */
                cursor: pointer;
                float: left;
            }

            .prev {
                margin-right: 5px;
                background: #ccc;
            }

            .box2 {
                width: 318px;
                height: 72px;
                overflow: hidden;
                position: relative;
                /* left: 40px;
                top: 0; */
                float: left;
                margin-right: 5px;

                .smaller {
                    /* position: relative; */
                    overflow: hidden;
                    width: 400px;
                    height: 72px;
                    /* margin-top: 10px; */
                    transition: all 1s;
                    position: absolute;
                    left: 0;
                    top: 0;

                    li {
                        position: relative;
                        float: left;
                        padding: 2px;
                        width: 64px;
                        height: 64px;
                        border: 2px solid #000;
                        margin-left: 10px;
                        cursor: pointer;

                    }

                    li:first-child {
                        margin-left: 0;
                    }

                }
            }
        }

    }

    .active {
        border-color: #ff6a00;
    }

    .bigTu {
        position: absolute;
        overflow: hidden;
        display: none;
        left: 410px;
        width: 400px;
        height: 400px;

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 200%;
            height: 200%;
        }
    }

}