* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*图片的样式*/
#box,
#box2 {
    width: 500px;
    height: 300px;
    background: #d8d8d8;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.imglist {
    width: 100%;
    height: 100%;
}

.imglist li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    color: red;
}

.imglist li img {
    display: block;
    width: 100%;
    height: 100%;
}

.imglist li:nth-child(1) {
    background: #0088CC;
}

.imglist li:nth-child(2) {
    background: lemonchiffon;
}

.imglist li:nth-child(3) {
    background: lavenderblush;
}

.imglist li:nth-child(4) {
    background: lightcoral;
}

.imglist li:nth-child(5) {
    background: lightcyan;
}

.imglist li:nth-child(6) {
    background: lightgreen;
}

/*焦点样式*/
.light {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 10px;
    /*background: #ccc;*/
    text-align: center;
}

.light span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d8d8d8;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin-right: 5px;
    /*让焦点的文字消失的方法*/
    /*text-indent: -9999px;
	overflow: hidden;*/
}

.light span.active {
    background: orangered;
    color: #fff;
}

.light span.liang {
    background: lightcoral;
}

/*左右按钮样式*/
.posibtn {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    /*background: #ccc;*/
}

.posibtn p {
    width: 50px;
    height: 50px;
    background: #0074CC;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    /* display: none; */
}

.posibtn p::selection {
    background: transparent;
}

.posibtn p:nth-child(1) {
    left: 10px;
}

.posibtn p:nth-child(2) {
    right: 10px;
}